// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-content: center;
}

button {
  transition: all 100ms;
  height: 50%;
  background-color: white;
  border: 1px solid #9b59b6;
  color: #9b59b6;
  font-size: 16px;
  width: 100px;
  margin-left: 20px;
  box-shadow: 0px 2px 2px #ddd;
  padding: 7.5px;

  &:hover {
    border: 1px solid #7e44ad;
    color: #7e44ad;
    cursor: pointer;
    transition: all 100ms;
  }
}

form {
  margin-top: 40px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 700px;
  box-shadow: 0px 2px 4px 1px #ddd;

  label {
    display: flex;
    margin: 10px 0;
    width: 500px;
    justify-content: space-between;
    align-items: center;
    input {
      box-sizing: border-box;
      font-size: 16px;
      text-align: center;
      height: 40px;
      width: 65%;
      outline: none;

      &:focus {
        border: 1px solid #9b59b6;
       border-bottom: 1px solid slateblue;
      }
    }

    &:last-of-type {
      margin-bottom: 30px;
    }
  }
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-around;

  h1 {
    flex: 1;
    text-align: center;
  }

  .user-nav {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.bench-img {
  width: 50px;
  height: 50px;
}

.search {
  display: flex;
  justify-content: space-around;
  height: 500px;

  #map-container {
    height: 500px;
    width: 500px;
    margin: 0;
    box-shadow: 0px 2px 4px #ccc;
  }


  .spinner-container {
    width: calc(100% - 520px);
    display: flex;
    justify-content: center;
    align-items: center;

    .spinner {
      height: 75px;
      width: 75px;
      border: 3px solid #eee;
      border-radius: 50%;
      border-left: 3px solid #9b59b6;
      animation: spin 0.4s infinite linear;
    }

    span {
      padding-left: 20px;
    }
  }

  .bench-list {
    margin: 0;
    padding: 0;
    width: calc(100% - 520px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 500px;
    box-shadow: 0px 2px 4px #ccc;
    list-style: none;

    li {
      padding: 0 0 0 10px;
      margin: 0;
      box-shadow: 0px 2px 4px #ccc;
      flex: 1;
      display: flex;
      justify-content: space-between;
      align-items: center;
      section {
        flex: 1;
        padding-left: 50px;
      }
      img {
        height: 100px;
        width: 100px;
      }
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#root {
  max-width: 1200px;
  min-width: 700px;
}