<nav id="who-is-the-best"></nav>
<div id="content">
  React is not working!
  <img src="http://lorempixel.com/640/480/nightlife" alt="Cat not loaded">
</div>

<script type="text/javascript">
  $('#who-is-the-best').append("<marquee scrollamount='500'> JIN IS #1 </marquee>");
</script>
