<main>

  <sidebar class="col col-1-4 cf">
    <header>
      Launching the New React/Redux Curriculum
    </header>
    <figcaption>
      By APP ACADEMY INSTRUCTIONAL TEAM
    </figcaption>

    <section>
      It helps you write applications that behave consistently, run in different environments (client, server, and native), and are easy to test. On top of that, it provides a great developer experience, such as live code editing combined with a time traveling debugger.
    </section>

    <section>
      The whole state of your app is stored in an object tree inside a single store.
      The only way to change the state tree is to emit an action, an object describing what happened. To specify how the actions transform the state tree, you write pure reducers.
    </section>

    <a href="#">1738 Comments</a>
  </sidebar>

  <article class="col col-1-2 cf youtube">
    <div class="youtube-player">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/ARe9FupzuOA" frameborder="0" allowfullscreen></iframe>
    </div>

    <figcaption>
      Warning: This video will make you want to change your career
    </figcaption>

    <article>
      <header>Where Are They Now?</header>
      <figcaption class="caption">By APP ACADEMY ALUMNI</figcaption>
      <section>
        First hand stories from App Academy graduates about transitioning to engineering positions at top tech companies in San Francisco.
      </section>
    </article>

    <article>
      <header>Cat Academy</header>
      <figcaption class="caption">By APP ACADEMY DIRECTOR OF PRODUCTS</figcaption>
      <section>
        App Academy's latest product targets those interested in owning the popular feline companion by providing a curated cat care curriculum.
      </section>
    </article>
  </article>

  <aside class="col col-1-4">
    <header>
      The Opinion Pages
    </header>
    <article class="opinions">
      <section class="col col-1-2 cf">
        <div class="mini-header">Op-Ed Contributor</div>

        <header>
          Will Javascript ever be as easy as Ruby?
        </header>
          Javscript continues to advance with the newly released EcmaScript7 but it still doesn't quite read like Ruby.
        <ul>
          <li>Torvalds: When I Was Almost Wrong</li>
          <li>Knuth: Art of Programming</li>
          <li>Lovelace: The First Algorithm</li>
          <li>Hopper: The First Bug</li>
          <li>Thompson: Go C Unix</li>
          <li>Carmack: My Virtual Reality</li>
          <li>Stallman: Free Speech Not Free Coffee</li>
        </ul>
      </section>

      <section class="col col-1-2 cf">

        <div class="mini-header">Operations</div>
        <header>App Academy New York Has A Brand New Office</header>

        <figcaption class="caption">By NY OPERATIONS</figcaption>

        The new space features hardwood floors and brick walls for a modern technology space with an aura for learning.
        <div class="thumbnail">
          <img src="/assets/new_office.jpg" alt="">
        </div>
        <header>Opinion Today, in your Inbox</header>

        Each weekday, get though-provoking commentary from our columnists and contributors.

      </section>
    </article>
    <form action="">
      <input type="text" placeholder="Enter your email"><button>Sign Up</button>
    </form>

    <div class="disclaimer">
      We'll also send offers to join the App Academy Bootcamp. You can never unsubscribe.
    </div>
  </aside>

</main>
