/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
  font-family: Arial;
}

li {
  height: 3em;
  padding-top: 5px;
  list-style-type: none;
  border: 1px dashed black;
  padding-left: 10px;
}

a {
  text-decoration: none;
}

a:visited {
  color: blue;
}

.container {
  margin: 5%;
}

.button_to {
  margin: 5px auto;
}

.error {
  color: red;
  font-weight: bolder;
}

.post-content {
  border: 1px dashed black;
  padding: 5px;
}

.comment-view {
  margin: 20px auto;
  border: 1px dashed black;
  height: 50px;
}

.comment {
  margin: 5%;
  padding: 2%;
  border-left: 1px dashed black;
  border-top: 1px dashed black;
}
