<form action="<%= action_url %>" method="post">
  <%= auth_token %>
  <label>Username:
    <input
      type="text"
      placeholder="username"
      value="<%= user.username %>"
      name="user[username]">
  </label>
  <br>
  <label>Password:
    <input type="password" name="user[password]">
  </label>
  <br>
  <input type="submit">
</form>
